{% load i18n organization_snippets %}

<table class="bordered striped highlight responsive-table">
    <thead>
        <tr>
            <th>{% trans "Date" %}</th>
            <th>{% trans "By" %}</th>
            <th>{% trans "About" %}</th>
            <th>{% trans "Details" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for history in entries %}
        <tr>
            <td>{{ history.date|date:"DATETIME_FORMAT" }}</td>
            <td>{% user_chip history.contact %}</td>
            <td>
                {% if history.get_object %}
                <a href="{{ history.get_object_url }}">{{ history.get_object_display }}</a>
                {% else %}
                <span class="italic">{{ history.original_object_name }}</span>
                {% endif %}
            </td>
            <td>{{ history.get_type_display }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">{% trans "No actions registered yet." %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
