{% load material_form i18n %}

<form method="POST"{% if action %} action="{{ action }}"{% endif %}{% if file_upload %} enctype="multipart/form-data"{% endif %}>
    {% csrf_token %}
    {% form form=form %}{% endform %}

    <button type="submit" name="_submit" class="btn{% if submit_color %} {{ submit_color }}{% endif %}">{% trans "Submit" %}</button>
</form>
