{% extends "base.html" %}
{% load i18n %}

{% block brand_name %}
{% trans "Project:" %} {{ project.name }}
{% endblock brand_name %}

{% block breadcrumbs %}
<nav class="breadcrumbs row light-green darken-4">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'homepage' %}" class="breadcrumb">{% trans "Home" %}</a>
            <a href="{% url 'projects_list' %}" class="breadcrumb">{% trans "Projects" %}</a>
            <a href="{% url 'project_overview' project_pk=project.pk %}" class="breadcrumb">{{ project.name }}</a>
            {% block project_breadcrumbs %}
            {% endblock project_breadcrumbs %}
        </div>
    </div>
</nav>
{% endblock breadcrumbs %}

{% block prepend_body %}
<div class="card-panel blue-grey center fixed-progress">
    <h5>
        <a class="white-text" href="{% url 'project_overview' project_pk=project.pk %}">
            {% blocktrans with project_name=project.name %}
            Project: {{ project_name }}
            {% endblocktrans %}
        </a>
    </h5>
    <div class="progress">
        <div class="determinate green" style="width: {{ project.getCompleted|floatformat:0 }}%"></div>
    </div>
    <span class="white-text">
        {% blocktrans with completedTasks=project.getCompletedTasks.count tasks=project.getTasks.count completed=project.getCompleted|floatformat:0 %}
        Completed: {{ completedTasks }} of {{ tasks }} ({{ completed }}%)
        {% endblocktrans %}
    </span>
</div>
{% endblock prepend_body %}

{% block fab %}
<div class="fixed-action-btn horizontal{% block fab_opened %}{% endblock %}" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li><a href="{% url 'project_task_lists_list' project_pk=project.pk %}" data-position="top" data-delay="50" data-tooltip="{% trans "Task lists" %}" class="btn-floating tooltipped green darken-1"><i class="material-icons">assignment</i></a></li>
        <li><a href="{% url 'project_milestones_list' project_pk=project.pk %}" data-position="top" data-delay="50" data-tooltip="{% trans "Milestones" %}" class="btn-floating tooltipped grey lighten-2"><i class="material-icons blue-text">flag</i></a></li>
        <li><a href="{% url 'project_messages_list' project_pk=project.pk %}" data-position="top" data-delay="50" data-tooltip="{% trans "Messages" %}" class="btn-floating tooltipped red"><i class="material-icons">message</i></a></li>
        <li><a href="{% url 'project_overview' project_pk=project.pk %}" data-position="top" data-delay="50" data-tooltip="{% trans "Overview" %}" class="btn-floating tooltipped amber accent-4"><i class="material-icons">dashboard</i></a></li>

        {% comment %}<li><a href="" data-position="top" data-delay="50" data-tooltip="{% trans "Time" %}" class="btn-floating tooltipped green"><i class="material-icons">timer</i></a></li>
        <li><a href="" data-position="top" data-delay="50" data-tooltip="{% trans "Files" %}" class="btn-floating tooltipped blue"><i class="material-icons">attach_file</i></a></li>{% endcomment %}
    </ul>
</div>
{% endblock fab %}
