{% extends "base.html" %}
{% load i18n static %}

{% block body %}
<h1>{% trans "Welcome!" %}</h1>
<p>
    {% blocktrans with fullName=user.get_full_name username=user.username %}
    We're glad to see you, {{ fullName }} ({{ username }}). Are you ready to get some work done?
    {% endblocktrans %}
</p>

<div class="row">
    <div class="col s12 m8">
        <h4>
            {% trans "Active projects" %}

            <a href="{% url 'projects_list' %}" class="btn-floating waves-effect waves-light light-blue"><i class="material-icons">list</i></a>
            {% if user has "organization.add_project_organization" of user.contact.organization %}
            <a href="{% url 'project_add' %}" class="right-align btn-floating waves-effect waves-light amber darken-4"><i class="material-icons">add</i></a>
            {% endif %}
        </h4>

        {# todo: add active condition #}
        {% for project in user.contact.get_active_projects %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ project.name }}</span>
                {#<span class="chip">{{ project.organization.name }}</span>#}

                {{ project.description|linebreaks }}
            </div>
            <div class="card-action">
                <a href="{% url 'project_overview' project_pk=project.pk %}">{% trans "Overview" %}</a>
                <a href="{% url 'project_task_lists_list' project_pk=project.pk %}"><i class="vam material-icons">assignment</i></a>
            </div>
        </div>
        {% empty %}
        <p>{% trans "No active projects." %}</p>
        {% endfor %}
    </div>

    <div class="col s12 m4">
        <h4>
            Organization card
        </h4>

        <div class="card blue-grey lighten-4" id="organization_card">
            <div class="card-image blue-grey darken-1">
                <img src="{% static user.contact.organization.picture %}" alt="Organization logo" />
                <span class="card-title">{{ user.contact.organization.name }}</span>
            </div>
            <div class="card-content">
                {{ user.contact.organization.description|linebreaks }}
            </div>
            <div class="card-action">
                <a href="{% url 'myorganization' %}">{% trans "Overview" %}</a>
                {% if user has "organization.change_organization" of user.contact.organization %}
                <a href="{% url 'myorganization_edit' %}">{% trans "Edit" %}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock body %}
