{% extends 'base.html' %}

{% load i18n material_form %}

{% block title %}
{% trans "Registration" %}
{% endblock title %}

{% block body %}
<h1>{% trans "Registration" %}</h1>

<p>
    {% trans "You can create a free account to use Projectak. Note that if your organization already uses Projectak, you must not use this form. Instead you should ask an administrator to create your account." %}
</p>

{{ formContact.errors }}
{{ formContact.non_field_errors }}


{{ formOrganization.errors }}
{{ formOrganization.non_field_errors }}

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <h3 style="center-align">{% trans "Your personal informations" %}</h3>
    {% form form=formContact %}{% endform %}

    <h3 style="center-align">{% trans "Your organization informations" %}</h3>
    {% form form=formOrganization %}{% endform %}

    <button type="submit" name="_submit" class="btn{% if submit_color %} {{ submit_color }}{% endif %}">{% trans "Submit" %}</button>
</form>
{% endblock body %}
