{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "Logout" %}
{% endblock title %}

{% block body %}
<h1>{% trans "Logout" %}</h1>

<p>
    {% trans "You have been successfully logged out. Thank you for using Projectak!" %}
</p>

{% endblock body %}