{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "Login" %}
{% endblock title %}

{% block body %}
<h1>{% trans "Login" %}</h1>

{% if error %}
<div class="alert alert-error">
    <h4>{% trans "Authentication error" %}</h4>
    <p>
        {% trans "The given username and password couldn't identify yourself. Please try again." %}
    </p>
</div>
{% endif %}

<p>
    {% trans "You must be logged in order to use Projectak." %}
</p>

{% include 'form/form.html' with form=form %}

{% comment %}
<div class="card-panel teal lighten-4">
    {% trans "You have no account yet? Try Projectak with demo/demo." %}
    <br />
    {% trans "You can also" %}
    <a href="{% url "register" %}">{% trans "register" %}</a>.
</div>
{% endcomment %}
<div class="card-panel teal lighten-4">
    {% trans "You have no account?" %} <a href="{% url "register" %}">{% trans "Register now!" %}</a>
</div>
{% endblock body %}
