{% load i18n %}

<div class="center card-panel {% if object.closed %}green darken-2{% else %}amber accent-4{% endif %} white-text">
    <span>
        {% blocktrans with completedTasks=object.getCompletedTasks.count tasks=object.getTasks.count completed=object.getCompleted|floatformat:0 %}
        Completed: {{ completedTasks }} out of {{ tasks }} ({{ completed }}%)
        {% endblocktrans %}
    </span>
    <div class="progress">
        <div class="determinate green" style="width: {{ object.getCompleted|floatformat:0 }}%"></div>
    </div>
</div>