{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_messages_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'project_messages_view' project_pk=project.pk message_pk=comment.message.pk %}" class="breadcrumb">{{ comment.message.title }}</a>
<a href="{% url 'project_messages_comments_edit' project_pk=project.pk message_pk=comment.message.pk comment_pk=comment.pk %}" class="breadcrumb">{% trans "Edit my comment" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ message.title }}

    <small>
        {% trans "Edit my comment" %}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}
