{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_messages_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'project_messages_view' project_pk=project.pk message_pk=message.pk %}" class="breadcrumb">{{ message.title }}</a>
<a href="{% url 'project_messages_edit' project_pk=project.pk message_pk=message.pk %}" class="breadcrumb">{% trans "Edit" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ message.title }}

    <small>
        {% trans "Edit" %}
    </small>
</h1>

{% include "form/form.html" with form=form file_upload=True %}
{% endblock body %}
