{% extends "project_base.html" %}
{% load i18n organization_snippets %}

{% block project_breadcrumbs %}
<a href="{% url 'project_messages_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Messages" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>{% trans "Messages" %}</h1>

<p>
    <a href="{% url 'project_messages_post' project_pk=project.pk %}" class="btn btn-large yellow darken-4"><i class="material-icons left">message</i> {% trans "Post a message" %}</a>
</p>

{% include "pagination/pagination.html" with paginated_list=messages %}
{% for message in messages %}
<section class="row">
    <article class="col m8 s12">
        <h4>
            {% if message.sticky %}
            <i class="material-icons red-text small">announcement</i>
            {% endif %}

            {% if user has "project.stick_message_project" of project %}
            {% if not message.sticky %}
            <a href="{% url 'project_messages_quick_stick' project_pk=project.pk message_pk=message.pk %}">
                <i class="material-icons tiny">check_box_outline_blank</i>
            </a>
            {% else %}
            <a href="{% url 'project_messages_quick_stick' project_pk=project.pk message_pk=message.pk %}">
                <i class="material-icons tiny">check_box</i></a>
            </a>
            {% endif %}
            {% endif %}

            <a href="{% url "project_messages_view" project_pk=project.pk message_pk=message.pk %}">{{ message.title }}</a>
        </h4>

        {{ message.body|linebreaks }}
    </article>
    <aside class="col m4 s12">
        <div class="card-panel">
            {% trans "Posted by" %} {% user_chip message.author %}, {% trans "on" %} {{ message.date|date:"DATETIME_FORMAT" }}

            <br>

            <h5>{% trans "Pinned members" %}</h5>
            {% for contact in message.pinned_members.all %}
            {% user_chip contact %}
            {% empty %}
            {% trans "Nobody" %}
            {% endfor %}

            <h5>{% trans "Attachments" %}</h5>

            <ul class="collection">
                {% for attachment in message.attachment_set.all %}
                <li class="collection-item">
                    <a href="{% url "project_messages_download_attachment" project_pk=project.pk message_pk=message.pk attachment_pk=attachment.pk %}">
                        <i class="material-icons left">attachment</i>
                        {{ attachment.name }}
                    </a>
                </li>
                {% empty %}
                <li class="collection-item">{% trans "No attachments" %}</li>
                {% endfor %}
            </ul>

            <h5>
                Comments
                <a href="{% url "project_messages_view" project_pk=project.pk message_pk=message.pk %}#comments"><i class="material-icons tiny">send</i></a>
            </h5>

            {% blocktrans count counter=message.comment_set.all|length %}
            {{ counter }} comment has been written on this message.
            {% plural %}
            {{ counter }} comments have been written on this message.
            {% endblocktrans %}
        </div>
    </aside>
</section>
<hr>
{% empty %}
<p>
    {% trans "No messages have been posted yet." %}
</p>
{% endfor %}
{% include "pagination/pagination.html" with paginated_list=messages %}
{% endblock body %}
