{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_messages_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'project_messages_post' project_pk=project.pk %}" class="breadcrumb">{% trans "Post a message" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {% trans "Post a message" %}

    <small>
        {{ project.name }}
    </small>
</h1>

{% include "form/form.html" with form=form file_upload=True %}
{% endblock body %}
