{% extends "organization_base.html" %}
{% load i18n %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_messages_list' %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'organization_messages_view' message_pk=comment.message.pk %}" class="breadcrumb">{{ comment.message.title }}</a>
<a href="{% url 'organization_messages_comments_edit' message_pk=comment.message.pk comment_pk=comment.pk %}" class="breadcrumb">{% trans "Edit my comment" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {{ message.title }}

    <small>
        {% trans "Edit my comment" %}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}
