{% extends "organization_base.html" %}
{% load i18n %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_messages_list' %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'organization_messages_view' message_pk=message.pk %}" class="breadcrumb">{{ message.title }}</a>
<a href="{% url 'organization_messages_delete' message_pk=message.pk %}" class="breadcrumb">{% trans "Delete" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {{ message.title }}

    <small>
        {% trans "Delete" %}
    </small>
</h1>

<p>
    {% blocktrans with message=message.title %}
    Are you sure you want to delete your message "{{ message }}", along with all its attachments and comments?
    {% endblocktrans %}
</p>

{% include "form/form.html" with form=form submit_color='red' %}
{% endblock body %}
