{% extends "organization_base.html" %}
{% load i18n %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_messages_list' %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'organization_messages_view' message_pk=message.pk %}" class="breadcrumb">{{ message.title }}</a>
<a href="{% url 'organization_messages_edit' message_pk=message.pk %}" class="breadcrumb">{% trans "Edit" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {{ message.title }}

    <small>
        {% trans "Edit" %}
    </small>
</h1>

{% include "form/form.html" with form=form file_upload=True %}
{% endblock body %}
