{% extends "organization_base.html" %}
{% load i18n organization_snippets %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_messages_list' %}" class="breadcrumb">{% trans "Messages" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>{% trans "Messages" %}</h1>

<p>
    <a href="{% url 'organization_messages_post' %}" class="btn btn-large yellow darken-4"><i class="material-icons left">message</i> {% trans "Post a message" %}</a>
</p>

{% include "pagination/pagination.html" with paginated_list=messages %}
<table class="striped">
    <thead>
        <tr>
            <th><!-- Sticky --></th>
            <th><!-- Attachment --></th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Author" %}</th>
            <th>{% trans "Date" %}</th>
            <th>{% trans "Pinned members" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for message in messages %}
        <tr>
            <td>
                {% if message.sticky %}
                <i class="material-icons red-text">announcement</i>
                {% endif %}

                {% if user has "organization.stick_message_organization" of request.user.contact.organization %}
                {% if not message.sticky %}
                <a href="{% url 'organization_messages_quick_stick' message_pk=message.pk %}">
                    <i class="material-icons tiny">check_box_outline_blank</i>
                </a>
                {% else %}
                <a href="{% url 'organization_messages_quick_stick' message_pk=message.pk %}">
                    <i class="material-icons tiny">check_box</i></a>
                </a>
                {% endif %}
                {% endif %}
            </td>
            <td>
                {% if message.attachment_set.all %}
                <i class="material-icons grey-text text-darken-3">attachment</i>
                {% endif %}
            </td>
            <td>
                <strong><a href="{% url "organization_messages_view" message_pk=message.pk %}">{{ message.title }}</a></strong>
            </td>
            <td>
                {% user_chip message.author %}
            </td>
            <td>
                {{ message.date|date:"DATETIME_FORMAT" }}
            </td>
            <td>
                {% for contact in message.pinned_members.all %}
                {% user_chip contact %}
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% include "pagination/pagination.html" with paginated_list=messages %}
{% endblock body %}
