{% extends "organization_base.html" %}
{% load i18n %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_messages_list' %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'organization_messages_post' %}" class="breadcrumb">{% trans "Post a message" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {% trans "Post a message" %}

    <small>
        {{ organization.name }}
    </small>
</h1>

{% include "form/form.html" with form=form file_upload=True %}
{% endblock body %}
