{% extends "organization_base.html" %}
{% load i18n organization_snippets %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_messages_list' %}" class="breadcrumb">{% trans "Messages" %}</a>
<a href="{% url 'organization_messages_view' message_pk=message.pk %}" class="breadcrumb">{{ message.title }}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {{ message.title }}
    <small>
        {{ message.organization.name }}
    </small>
</h1>

{% if user has "organization.change_message" of message %}
<a href="{% url 'organization_messages_edit' message_pk=message.pk %}" class="btn yellow darken-4"><i class="material-icons left">edit</i> {% trans "Edit" %}</a>
{% endif %}
{% if user has "organization.delete_message" of message %}
<a href="{% url 'organization_messages_delete' message_pk=message.pk %}" class="btn red"><i class="material-icons left">delete</i> {% trans "Delete" %}</a>
{% endif %}

<div class="row">
    <div class="col s12 m8">
        {{ message.body|linebreaks }}
    </div>
    <div class="col s12 m4">
        <div class="card-panel">
            {% if message.sticky %}
            <i class="material-icons small red-text">announcement</i>
            <br>
            {% endif %}

            {% trans "Posted by" %} {% user_chip message.author %}, {% trans "on" %} {{ message.date|date:"DATETIME_FORMAT" }}

            <br>

            <h5>{% trans "Pinned members" %}</h5>
            {% for contact in message.pinned_members.all %}
            {% user_chip contact %}
            {% empty %}
            {% trans "Nobody" %}
            {% endfor %}

            <h5>{% trans "Attachments" %}</h5>

            <ul class="collection">
                {% for attachment in message.attachment_set.all %}
                <li class="collection-item">
                    <a href="{% url "organization_messages_download_attachment" message_pk=message.pk attachment_pk=attachment.pk %}">
                        <i class="material-icons left">attachment</i>
                        {{ attachment.name }}
                    </a>
                </li>
                {% empty %}
                <li class="collection-item">{% trans "No attachments" %}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<h3>{% trans "Comments" %}</h3>

{% include "pagination/pagination.html" with paginated_list=comments %}
<table class="bordered striped conversation">
    {% for comment in comments %}
    <tr id="comment-{{ comment.pk }}">
        <td>
            {% user_chip comment.author %}
            <hr />
            {{ comment.date|date:"DATE_FORMAT" }} {% trans "at" %} {{ comment.date|date:"TIME_FORMAT" }}
        </td>
        <td>
            {{ comment.body|linebreaks }}

            {% if user has "organization.change_comment" of comment or user has "organization.delete_comment" of comment %}
            <hr>
            {% if user has "organization.change_comment" of comment %}
            <a href="{% url 'organization_messages_comments_edit' message_pk=message.pk comment_pk=comment.pk %}" class="yellow-text text-darken-4">{% trans "Edit" %}</a>
            {% endif %}
            {% if user has "organization.delete_comment" of comment %}
            <a href="{% url 'organization_messages_comments_delete' message_pk=message.pk comment_pk=comment.pk %}" class="red-text">{% trans "Delete" %}</a>
            {% endif %}
            {% endif %}
        </td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="2">There are no comments.</td>
    </tr>
    {% endfor %}
</table>
{% include "pagination/pagination.html" with paginated_list=comments %}

{% if message.allow_comments %}
<h4>Quick comment</h4>

{% if not comments.has_next %}
{% include "form/form.html" with form=form_quick_answer %}
{% else %}
<p>
    {% trans "You cannot comment from here, because you are not on last page." %}
</p>
{% endif %}
{% else %}
<p>
    {% trans "Comments have been disabled for this message." %}
</p>
{% endif %}
{% endblock body %}
