{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<nav class="breadcrumbs row light-green darken-4">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'homepage' %}" class="breadcrumb">{% trans "Home" %}</a>
            <a href="{% url 'pm_list' %}" class="breadcrumb">{% trans "My PMs" %}</a>
            {% block pm_breadcrumbs %}
            {% endblock pm_breadcrumbs %}
        </div>
    </div>
</nav>
{% endblock breadcrumbs %}