{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Milestones" %}</a>
<a href="{% url 'project_milestones_add' project_pk=project.pk %}" class="breadcrumb">{% trans "Add a milestone" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {% trans "Add a milestone" %}

    <small>
        {{ project.name }}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}