{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Milestones" %}</a>
<a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=milestone.pk %}" class="breadcrumb">{{ milestone.name }}</a>
<a href="{% url 'project_milestones_delete' project_pk=project.pk milestone_pk=milestone.pk %}" class="breadcrumb">{% trans "Delete" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ milestone.name }}

    <small>
        {% trans "Delete" %}
    </small>
</h1>

<p>
    {% blocktrans with milestone=milestone.name %}
    Are you sure you want to delete the milestone "{{ milestone }}" ? (It will not delete the assigned task lists)
    {% endblocktrans %}
</p>

{% include "form/form.html" with submit_color='red' %}
{% endblock body %}