{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Milestones" %}</a>
<a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=milestone.pk %}" class="breadcrumb">{{ milestone.name }}</a>
<a href="{% url 'project_milestones_edit' project_pk=project.pk milestone_pk=milestone.pk %}" class="breadcrumb">{% trans "Edit" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ task.name }}

    <small>
        {% trans "Edit" %}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}