{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Milestones" %}</a>
<a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=milestone.pk %}" class="breadcrumb">{{ milestone.name }}</a>
<a href="{% url 'project_milestones_history' project_pk=project.pk milestone_pk=milestone.pk %}" class="breadcrumb">{% trans "History" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ milestone.name }}

    <small>
        {% trans "History" %}
    </small>
</h1>

{% include "pagination/pagination.html" with paginated_list=entries %}
{% include "history/_table.html" with entries=entries %}
{% include "pagination/pagination.html" with paginated_list=entries %}
{% endblock body %}
