{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Milestones" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>{% trans "Milestones" %}</h1>

{% if user has "project.add_milestone_project" of project %}
<p>
    <a href="{% url 'project_milestones_add' project_pk=project.pk %}" class="btn amber accent-4"><i class="material-icons left">add</i> {% trans "Add" %}</a>
</p>
{% endif %}

<table class="striped">
    <thead>
        <tr>
            <th></th>
            <th>{% trans "Due date" %}</th>
            <th>{% trans "Name" %}</th>
            <th>{% trans "Days left" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for milestone in project.milestone_set.all %}
        <tr>
            <td>
                {% if user has "project.close_milestone" of milestone %}
                <a href="{% url 'project_milestones_quick_check' project_pk=project.pk milestone_pk=milestone.pk %}">
                {% endif %}
                    {% if milestone.closed %}
                    <i class="material-icons green-text">check_box</i></a>
                    {% else %}
                    <i class="material-icons orange-text">check_box_outline_blank</i>
                    {% endif %}
                {% if user has "project.close_milestone" of milestone %}
                </a>
                {% endif %}
            </td>
            <td>{{ milestone.due_date|date:"DATE_FORMAT" }}</td>
            <td>
                <a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=milestone.pk %}">{{ milestone.name }}</a>
            </td>
            <td>
                {% if not milestone.closed %}
                {% if not milestone.getLate %}
                {% blocktrans with daysLeft=milestone.getDaysDiffFromToday %}
                {{ daysLeft }} days left
                {% endblocktrans %}
                {% else %}
                {% blocktrans with daysLeft=milestone.getDaysDiffFromToday %}
                {{ daysLeft }} days late
                {% endblocktrans %}
                {% endif %}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}