body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    position: relative;
}

.normal {
    font-size: 1rem;
}

.card-panel.fixed-progress
{
    max-width: 300px;
    height: auto;
    padding: 0.5rem;

    position: absolute;
    top: 0;
    right: 0;

    z-index: 998;
}
.card-panel.fixed-progress:hover
{
    transition: opacity .3s;
    opacity: 0.2;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small
{
    display: block;
    font-size: 0.6em;
}

h1 small .chip, h2 small .chip, h3 small .chip, h4 small .chip, h5 small .chip, h6 small .chip,
.card-title .chip,
.vam
{
    vertical-align: middle;
}

nav.breadcrumbs
{
    margin-top: 1rem;
}

.italic
{
    font-style: italic;
}
.bold
{
    font-weight: bold;
}

header nav a.has_icon_with_badge i {
    float: left;
}

header nav a.has_icon_with_badge span.new.badge {
    vertical-align: text-bottom;
    margin-left: -1rem;
}

header nav a.has_icon_with_badge span.new.badge:after {
    display: none;
}
header i.avatar img {
    position: relative;
    max-height: 100%;
}



table.conversation tr, table.conversation td {
    vertical-align: top;
}
table.conversation tr td:first-child {
    width: 25%;
}

#organization_card .card-image img {
    min-height: 5rem;
}

h1 a.btn {
    font-size: 1rem;
}

.card-panel img {
    max-width: 100%;
}

#organization_picture {
    max-width: 33%;
    min-width: 20rem;
}

footer img#projectak_logo {
    max-height: 5rem;
}
