{% extends "base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_add' %}" class="breadcrumb">{% trans "Add a project" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {% trans "Add a project" %}
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}