{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_delete' project_pk=project.pk %}" class="breadcrumb">{% trans "Delete" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ project.name }}

    <small>
        {% trans "Delete" %}
    </small>
</h1>

<p>
    {% blocktrans with project=project.name %}
    Are you sure you want to delete the project "{{ project }}", along with all its tasks lists, tasks and milestones?
    {% endblocktrans %}
</p>

{% include "form/form.html" with form=form %}
{% endblock body %}
