{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_edit' project_pk=project.pk %}" class="breadcrumb">{% trans "Edit" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ project.name }}

    <small>
        {% trans "Edit" %}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}