{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_history' project_pk=project.pk %}" class="breadcrumb">{% trans "History" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ project.name }}

    <small>
        {% trans "History" %}
    </small>
</h1>

{% include "pagination/pagination.html" with paginated_list=entries %}
{% include "history/_table.html" with entries=entries %}
{% include "pagination/pagination.html" with paginated_list=entries %}
{% endblock body %}
