{% extends "base.html" %}
{% load i18n %}

{% block body %}
<h1>{% trans "Projects" %}</h1>


{% if user has "organization.add_project_organization" of user.contact.organization %}
<p>
    <a href="{% url 'project_add' %}" class="btn waves-effect waves-light amber darken-4"><i class="left material-icons">add</i> {% trans "Add" %}</a>
</p>
{% endif %}

<div class="row">
    <div class="col s12 m8">
        <h4>{% trans "Active projects" %}</h4>

        {% for project in active_projects %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ project.name }}</span>

                {{ project.description|linebreaks }}
            </div>
            <div class="card-action">
            <a href="{% url 'project_overview' project_pk=project.pk %}">{% trans "Overview" %}</a>
                <a href="{% url 'project_task_lists_list' project_pk=project.pk %}"><i class="vam material-icons">assignment</i></a>
            </div>
        </div>
        {% empty %}
        <p>{% trans "No active projects." %}</p>
        {% endfor %}
    </div>

    <div class="col s12 m4">
        <h4>{% trans "Completed projects" %}</h4>

        {% for project in closed_projects %}

        <p class="section">
            <a href="{% url 'project_overview' project_pk=project.pk %}">{{ project.name }}</a><br />
            <span class="italic">
                {% blocktrans with closed_date=project.closed_date|date:"DATE_FORMAT" %}
                Closed on {{ closed_date }}
                {% endblocktrans %}
            </span>
        </p>
        {% empty %}
        {% trans "No completed projects." %}
        {% endfor %}
    </div>
</div>
{% endblock body %}
