{% extends "project_base.html" %}
{% load i18n organization_snippets project_snippets %}

{% block prepend_body %}
{% endblock prepend_body %}

{% block body %}

{% comment %}
<div>
    <a href="{% url 'project_overview' project_pk=project.pk %}" class="waves-effect waves-light btn-large blue-grey darken-1"><i class="material-icons left">dashboard</i> {% trans "Overview" %}</a>
    <a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="waves-effect waves-light btn-large red"><i class="material-icons left">flag</i> {% trans "Milestones" %}</a>
    <a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="waves-effect waves-light btn-large yellow darken-1 blue-grey-text text-darken-4"><i class="material-icons left">assignment</i> {% trans "Task lists" %}</a>
    <a class="waves-effect waves-light btn-large green"><i class="material-icons left">timer</i> {% trans "Time" %}</a>
    <a class="waves-effect waves-light btn-large blue"><i class="material-icons left">attach_file</i> {% trans "Files" %}</a>
    <a class="waves-effect waves-light btn-large white blue-grey-text text-darken-4"><i class="material-icons left">message</i> {% trans "Messages" %}</a>
</div>
{% endcomment %}

<div class="card-panel right">
    <h6>{% trans "Project manager" %}</h6>
    {% user_chip project.manager %}

    <h6>{% trans "Project members" %}</h6>
    {% for member in project.members.all %}
    {% user_chip member %}
    {% endfor %}
</div>

<h1>
    {{ project.name }}

    <small>
        {% if user has "project.change_project" of project %}
        <a class="btn" href="{% url 'project_edit' project_pk=project.pk %}">
            <i class="material-icons left">edit</i>{% trans "Edit" %}
        </a>
        {% endif %}

        {% if user has "project.close_project" of project %}
        <a class="btn green" href="{% url 'project_check' project_pk=project.pk %}">
            {% if project.closed %}
            <i class="material-icons left">check_box</i>{% trans "Reopen" %}
            {% else %}
            <i class="material-icons left">check_box_outline_blank</i>{% trans "Mark as completed" %}
            {% endif %}
        </a>
        {% endif %}

        {% if user has "project.delete_project" of project %}
        <a class="btn red" href="{% url 'project_delete' project_pk=project.pk %}">
            <i class="material-icons left">delete</i>{% trans "Delete" %}
        </a>
        {% endif %}
    </small>
</h1>

{{ project.description|linebreaks }}

<div class="row">
    <div class="col s12 m8">
        <ul class="collection with-header">
            <li class="collection-header"><h4>{% trans "What should I do today?" %} <a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="secondary-content btn orange darken-1 normal"><i class="material-icons left">assignment</i> {% trans "Task lists" %}</a></h4></li>

            {% for task in tasksForToday %}
            <li class="collection-item">
                <strong>{{ task.task_list.name }}</strong>
                {{ task.name }}
                <a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task.task_list.pk %}#task_{{ task.pk }}" class="secondary-content"><i class="material-icons">assignment</i></a>
            </li>
            {% empty %}
            <li class="collection-item">
                <strong>{% trans "Nothing!" %}</strong>
                {% trans "Feel free to check task lists and help on tasks you're not pinned to." %}
                <a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="secondary-content"><i class="material-icons">assignment</i></a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col s12 m4">
        <h4>
            {% trans "Upcoming milestones" %}

            <a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="btn-floating waves-effect waves-light light-blue"><i class="material-icons">list</i></a>

            {% if user has "project.add_milestone_project" of project %}
            <a href="{% url 'project_milestones_add' project_pk=project.pk %}" class="btn-floating waves-effect waves-light amber darken-4"><i class="material-icons">add</i></a>
            {% endif %}

            <small>{% trans "In the next 30 days" %}</small>
        </h4>

        {% for milestone in project.getUpcomingMilestones %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ milestone.name }}</span>

                {% if not milestone.getLate %}
                <p>
                    {% blocktrans with due_date=milestone.due_date|date:"DATE_FORMAT" days_left=milestone.getDaysDiffFromToday %}
                    {{ due_date }}
                    ({{ days_left }} days left)
                    {% endblocktrans %}
                </p>
                {% else %}
                <p>
                    {% blocktrans with due_date=milestone.due_date|date:"DATE_FORMAT" days_late=milestone.getDaysDiffFromToday %}
                        Due {{ days_late }} days ago ({{ due_date }})
                    {% endblocktrans %}
                </p>
                {% endif %}


                {# <div class="section italic">{{ milestone.description|linebreaks }}</div>#}

            </div>
            <div class="card-action">
                <a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=milestone.pk %}">{% trans "Details" %}</a>
            </div>
        </div>
        {% empty %}
        <p>{% trans "No upcoming milestones." %}</p>
        {% endfor %}
    </div>
</div>



{% progress project %}

<h4>
    {% trans "Recent activity" %}
    <a href="{% url 'project_history' project_pk=project.pk %}" class="btn-floating waves-effect waves-light light-blue"><i class="material-icons">list</i></a>
</h4>

{% include "history/_table.html" with entries=project.history_set.all|slice:":10" %}
{% endblock body %}

{% block fab_opened %}
 fab-opened
{% endblock fab_opened %}
