{% load i18n %}

{% if paginated_list.has_previous or paginated_list.has_next %}
<ul class="pagination center">
    <li class="{% if not paginated_list.has_previous %}disabled{% endif %}"><a href="{% if paginated_list.has_previous %}?page={{ paginated_list.previous_page_number }}{% endif %}"><i class="material-icons">chevron_left</i></a></li>

    {% for number in paginated_list.paginator.page_range %}

    {% if number == paginated_list.number %}
    <li class="active"><a href="#!">{{ number }}</a></li>
    {% else %}
    {% if number == 1 %}
    <li><a href="?page={{ number }}">{{ number }}</a></li>
    {% elif number == paginated_list.paginator.num_pages %}
    <li><a href="?page={{ number }}">{{ number }}</a></li>
    {% elif number > paginated_list.number|add:"-3" and number < paginated_list.number %}
    <li><a href="?page={{ number }}">{{ number }}</a></li>
    {% elif number == paginated_list.number|add:"-3" and number < paginated_list.number %}
    <li class="disabled">...</li>
    {% elif number < paginated_list.number|add:"3" and number > paginated_list.number %}
    <li><a href="?page={{ number }}">{{ number }}</a></li>
    {% elif number == paginated_list.number|add:"3" and number > paginated_list.number %}
    <li class="disabled">...</li>
    {% endif %}
    {% endif %}

    {% endfor %}


    <li class="{% if not paginated_list.has_next %}disabled{% endif %}"><a href="{% if paginated_list.has_next %}?page={{ paginated_list.next_page_number }}{% endif %}"><i class="material-icons">chevron_right</i></a></li>
</ul>
{% endif %}
