{% extends "organization_base.html" %}
{% load i18n %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_members_list' %}" class="breadcrumb">{% trans "Members" %}</a>
<a href="{% url 'organization_members_add' %}" class="breadcrumb">{% trans "Add a member" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {% trans "Add a member" %}

    <small>
        {{ organization.name }}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}