{% extends "organization_base.html" %}
{% load i18n organization_snippets %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_members_list' %}" class="breadcrumb">{% trans "Members" %}</a>
<a href="{% url 'organization_members_view' member_pk=member.pk %}" class="breadcrumb">{{ member.user.get_full_name }}</a>
<a href="{% url 'organization_members_delete' member_pk=member.pk %}" class="breadcrumb">{% trans "Delete" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {{ member.user.get_full_name }}
    <small>
    {% blocktrans with account_type=member.get_account_type_display organization_name=organization.name %}
        {{ account_type }} of {{ organization_name }}
    {% endblocktrans %}
    </small>
</h1>

<p>
    {% blocktrans with member=member.user.get_full_name %}
    Are you sure you want to delete the member "{{ member }}", and his/her user account?
    {% endblocktrans %}
</p>

{% include "form/form.html" with submit_color='red' %}
{% endblock body %}