{% extends "organization_base.html" %}
{% load i18n organization_snippets %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_members_list' %}" class="breadcrumb">{% trans "Members" %}</a>
<a href="{% url 'organization_members_view' member_pk=member.pk %}" class="breadcrumb">{{ member.user.get_full_name }}</a>
<a href="{% url 'organization_members_edit' member_pk=member.pk %}" class="breadcrumb">{% trans "Edit" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {{ member.user.get_full_name }}
    <small>
    {% blocktrans with account_type=member.get_account_type_display organization_name=organization.name %}
        {{ account_type }} of {{ organization_name }}
    {% endblocktrans %}
    </small>
</h1>

{% include "form/form.html" with form=form file_upload=True %}
{% endblock body %}
