{% extends "organization_base.html" %}
{% load i18n organization_snippets %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_members_list' %}" class="breadcrumb">{% trans "Members" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>{% trans "Members" %}</h1>

{% if user has "organization.manage_members_organization" of organization %}
<p>
    <a href="{% url 'organization_members_add' %}" class="btn btn-large yellow darken-4"><i class="material-icons left">add</i> {% trans "Add" %}</a>
</p>
{% endif %}

<table class="striped">
    <thead>
        <tr>
            <th>{% trans "Account type" %}</th>
            <th>{% trans "Full name" %}</th>
            <th>{% trans "Contact information" %}</th>
        </tr>
    </thead>

    <tbody>
        {% for contact in contacts %}
        <tr>
            <td>{{ contact.get_account_type_display }}</td>
            <td>
                {% user_chip contact %}

                {#<a href="{% url 'organization_members_view' member_pk=contact.pk %}">{{ contact.user.get_full_name }}</a>#}
            </td>
            <td>
                {% if contact.user.email or contact.phone %}
                <div class="section">
                {% if contact.user.email %}
                <a href="mailto:{{ contact.user.email }}">{{ contact.user.email }}</a>
                {% endif %}
                {% if contact.user.email and contact.phone %}
                /
                {% endif %}
                {% if contact.phone %}{{ contact.phone|phonenumber }}{% endif %}
                </div>
                {% endif %}
                {% if contact.address %}
                <div class="section">
                    {{ contact.address|linebreaks }}
                </div>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock body %}