{% extends "organization_base.html" %}
{% load i18n organization_snippets %}

{% block organization_breadcrumbs %}
<a href="{% url 'organization_members_list' %}" class="breadcrumb">{% trans "Members" %}</a>
<a href="{% url 'organization_members_view' member_pk=member.pk %}" class="breadcrumb">{{ member.user.get_full_name }}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {{ member.user.get_full_name }}

    {% user_chip member %}

    <small>
    {% blocktrans with account_type=member.get_account_type_display organization_name=organization.name %}
        {{ account_type }} at {{ organization_name }}
    {% endblocktrans %}
    </small>
</h1>

<p>
    {% if user == member.user %}
    <a href="{% url 'edit_profile' %}" class="btn btn-large btn-blue">{% trans "Edit my profile" %}</a>
    {% else %}
    <a href="{% url 'pm_start_conversation' %}?to={{ member.pk }}" class="btn btn-large btn-blue"><i class="material-icons left">message</i> {% trans "Send a PM" %}</a>
    {% endif %}

    {% if user has "organization.manage_members_organization" of organization %}
    {# EDIT #}
    <a
      {% if user != member.user %}
      href="{% url 'organization_members_edit' member_pk=member.pk %}"
      {% else %}
      title="{% trans "Use Edit my profile in main menu to update your information. If you want to change your account type, another organization administrator has to do it." %}"
      {% endif %}
      class="btn yellow darken-4{% if user == member.user %} disabled{% endif %}">
        <i class="material-icons left">edit</i> {% trans "Edit" %}
    </a>

    <a
      {% if user != member.user %}
      href="{% url 'organization_members_delete' member_pk=member.pk %}"
      {% else %} title="{% trans "You cannot delete your own account. Another organization administrator has to do it." %}"
      {% endif %}
      class="btn red darken-4{% if user == member.user %} disabled{% endif %}">
        <i class="material-icons left">delete</i> {% trans "Delete" %}
    </a>
    {% endif %}
</p>

<p>
    {% info "Address" member.address True %}<br />
    {% info "Email" member.user.email %}<br />
    {% info_phone "Phone number" member.phone %}
</p>
{% endblock body %}
