{% extends "pm_base.html" %}
{% load i18n organization_snippets %}

{% block pm_breadcrumbs %}
<a class="breadcrumb" href="{% url 'pm_conversation' conversation.pk %}">{{ conversation.subject }}</a>
{% endblock pm_breadcrumbs %}

{% block body %}
<h1>
    {{ conversation.subject }}
    <small>PM</small>
</h1>

{% if conversation.quick_description %}
{{ conversation.quick_description|linebreaks }}
{% endif %}

<p>
    {% trans "Participants:" %}
    {% for contact in conversation.contacts.all %}
    {% user_chip contact %}
    {% endfor %}
</p>

{% include "pagination/pagination.html" with paginated_list=pms %}

<table class="bordered striped conversation">
    {% for pm in pms %}
    <tr id="pm-{{ pm.pk }}"{% if pm in unread_pms %} class="blue-grey lighten-4"{% endif %}>
        <td>
            {% user_chip pm.sender %}
            <hr />
            {{ pm.date|date:"DATE_FORMAT" }} {% trans "at" %} {{ pm.date|date:"TIME_FORMAT" }}
        </td>
        <td>
            {{ pm.body|linebreaks }}
        </td>
    </tr>
    {% endfor %}
</table>

{% include "pagination/pagination.html" with paginated_list=pms %}

<h2>Quick answer</h2>

{% if not pms.has_next %}
{% include "form/form.html" with form=form_quick_answer %}
{% else %}
<p>
    {% trans "You cannot answer from here, because you are not on last page." %}
</p>
{% endif %}
{% endblock body %}
