{% extends "pm_base.html" %}
{% load i18n organization_snippets pm_snippets %}

{% block body %}
<h1>{% trans "PMs" %}</h1>

<p>
    <a href="{% url 'pm_start_conversation' %}" class="btn waves-effect waves-light amber darken-4"><i class="left material-icons">add</i> {% trans "Start a conversation" %}</a>
</p>

<table class="bordered striped">
    <tr>
        <th>{% trans "Participants" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "Answers" %}</th>
    </tr>

    {% for conversation in conversations %}
    {% with conversation.pm_set.latest as last_message %}
    <tr{% if not request.user.contact|has_read:conversation %} class="blue-grey lighten-4"{% endif %}>
        <td>
            {% for contact in conversation.contacts.all %}
            {% user_chip contact %}
            {% endfor %}
        </td>
        <td{% if not request.user.contact|has_read:conversation %} class="bold"{% endif %}>
            {% with last_read_pm=request.user.contact|last_read_pm:conversation %}
            {% with last_read_pm_page=last_read_pm|pm_page %}
            <a href="{% url 'pm_conversation' conversation.pk %}?page={{ last_read_pm_page }}#pm-{{ last_read_pm.pk }}">{{ conversation.subject }}</a>
            {% endwith %}
            {% endwith %}
            {% if conversation.quick_description %}
            <br />
            <div class="italic">
                {{ conversation.quick_description|linebreaks }}
            </div>
            {% endif %}
        </td>
        <td>
            {{ conversation.pm_set.count }} {% trans "answers" %}
            <hr />
            <a href="{% url 'pm_conversation' conversation.pk %}?page={{ last_message|pm_page }}#pm-{{ last_message.pk }}">{% trans "Last answer" %}</a> {% trans "on" %} {{ last_message.date|date:"DATE_FORMAT" }} {% trans "at" %} {{ last_message.date|date:"TIME_FORMAT" }}
            <br />
        </td>
    </tr>
    {% endwith %}
    {% empty %}
    <tr>
        <td colspan="3">{% trans "You are part of no conversations." %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}
