{% extends "pm_base.html" %}
{% load i18n organization_snippets %}

{% block pm_breadcrumbs %}
<a class="breadcrumb" href="{% url 'pm_start_conversation' %}">Start a conversation</a>
{% endblock pm_breadcrumbs %}

{% block body %}
<h1>
    Start a conversation
</h1>

{% load material_form i18n %}

<form method="POST"{% if action %} action="{{ action }}"{% endif %}>
    {% csrf_token %}
    {% form form=form_conversation %}{% endform %}
    {% form form=form_pm %}{% endform %}

    <button type="submit" name="_submit" class="btn{% if submit_color %} {{ submit_color }}{% endif %}">{% trans "Submit" %}</button>
</form>
{% endblock body %}