{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Task lists" %}</a>
<a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{{ task_list.name }}</a>
<a href="{% url 'project_tasks_edit' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}" class="breadcrumb">{% blocktrans with task_name=task.name %}Delete "{{ task_name }}"{% endblocktrans %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ task.name }}

    <small>
        {% trans "Delete" %}
    </small>
</h1>

<p>
    {% blocktrans with task=task.name %}
    Are you sure you want to delete the task "{{ task }}" ?
    {% endblocktrans %}
</p>

{% include "form/form.html" with submit_color='red' %}
{% endblock body %}