{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "400 Bad Request" %}
{% endblock title %}

{% block body %}
<h1>{% trans "400 Bad Request" %}</h1>

<div class="alert alert-error">
    <h4>{% trans "400 Bad Request" %}</h4>
    <p>
        {% trans "Please try again later, then contact Projectak developers if it still doesn't work." %}
    </p>
</div>
{% endblock body %}
