{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "403 Not Authorized" %}
{% endblock title %}

{% block body %}
<h1>{% trans "403 Not Authorized" %}</h1>

<div class="alert alert-error">
    <h4>{% trans "403 Not Authorized" %}</h4>
    <p>
        {% trans "You are not allowed to access current URL. If you think this is a problem, please contact your organization managers, or Projectak developers if you think this is an error." %}
    </p>
</div>
{% endblock body %}
