{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "404 Not Found" %}
{% endblock title %}

{% block body %}
<h1>{% trans "404 Not Found" %}</h1>

<div class="alert alert-error">
    <h4>{% trans "404 Not Found" %}</h4>
    <p>
        {% trans "The requested URL was not found. If you think this is a problem, please contact Projectak developers." %}
    </p>
</div>
{% endblock body %}
