{% extends 'base.html' %}

{% load i18n %}

{% block title %}
{% trans "500 Internal Server Error" %}
{% endblock title %}

{% block body %}
<h1>{% trans "500 Internal Server Error" %}</h1>

<div class="alert alert-error">
    <h4>{% trans "500 Internal Server Error" %}</h4>
    <p>
        {% trans "The server encountered a problem handling your request. Please try again later, then contact Projectak developers if it still doesn't work." %}
    </p>
</div>
{% endblock body %}
