{% load staticfiles i18n menu %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% trans "Projectak: management tools for non-profit organizations" %}{% endblock title %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'projectak/css/common.css' %}" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static 'google-material-icons/css/google-material-icons.css' %}" />
    <link href="{% static 'materialize/css/jquery.datetimepicker.css' %}" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'projectak/img/favicon.png' %}">
</head>
<body>
    <header>
        <nav class="amber accent-4" role="navigation">
            <div class="nav-wrapper container">
                <a href="{% if user.is_authenticated %}{% url 'homepage' %}{% else %}#{% endif %}" class="brand-logo">
                    {% block brand_name %}Projectak!{% endblock brand_name %}
                </a>

                {% if user.is_authenticated %}
                <ul class="right hide-on-med-and-down">
                    <li class="{% active request '/organization/' %}"><a href="{% url 'myorganization' %}">{% trans "Organization" %}</a></li>
                    <li class="{% active request '/project/' %}"><a href="{% url 'projects_list' %}">{% trans "Projects" %}</a></li>
                    <li class="{% active request '/profile/' %}">
                        <a href="" data-activates="dropdown1" data-beloworigin="true" class="dropdown-button"><i class="avatar left"><img src="{% static request.user.contact.avatar %}" alt="Avatar"></i>{{ user.username}}<i class="material-icons right">arrow_drop_down</i></a>

                        <ul id="dropdown1" class="dropdown-content">
                            <li><a href="{% url 'organization_members_view' member_pk=request.user.contact.pk %}">{% trans "View profile" %}</a></li>
                            <li><a href="{% url 'edit_profile' %}">{% trans "Edit profile" %}</a></li>
                            <li class="divider"></li>
                            <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
                        </ul>
                    </li>
                    <li class="{% active request '/pm/' %}" title="{% trans "Private messages" %}">
                        <a href="{% url 'pm_list' %}"{% if request.user.contact.unread_pm > 0 %} class="has_icon_with_badge"{% endif %}>
                            <i class="material-icons">message</i>

                            {% if request.user.contact.unread_pm > 0 %}
                            <span class="new badge red darken-4">{{ request.user.contact.unread_pm }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="{% active request '/notifications/' %}" title="{% trans "Notifications" %}">
                        <a href="{% url 'notifications_list' %}"{% if request.user.contact.unread_notifications > 0 %} class="has_icon_with_badge"{% endif %}>
                            <i class="material-icons">notifications</i>

                            {% if request.user.contact.unread_notifications > 0 %}
                            <span class="new badge red darken-4">{{ request.user.contact.unread_notifications }}</span>
                            {% endif %}
                        </a>
                    </li>
                </ul>

                <ul class="side-nav" id="nav-mobile">
                    <li><a href="">Home</a></li>
                    <li><a href="">Organization</a></li>
                    <li><a href="">Projects</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
                {% else %}
                <ul class="right">
                    <li class="{% active request '/login/' %}"><a href="{% url 'login' %}">{% trans "Login" %}</a></li>
                </ul>
                {% endif %}
            </div>
        </nav>
    </header>

    <main class="container">
        {% block prepend_body %}
        {% endblock prepend_body %}

        {% block breadcrumbs %}
        {% endblock breadcrumbs %}

        {% block body %}
        {% endblock body %}

        {% block fab %}
        {% endblock fab %}
    </main>


    <footer class="page-footer amber accent-4">
        <div class="container">
            <div class="row">
                <div class="col"><img id="projectak_logo" src="{% static 'projectak/img/projectak.png' %}" alt="{% trans "Projectak, a project management platform for small organizations" %}" /></div>
                <div class="col">
                    <ul>
                        <li>
                            <a class="white-text" href="https://bitbucket.org/reind33r/projectak.git">{% trans "View source" %}</a>
                        </li>
                        <li>
                            {% trans "Made with ❤ by" %} <a class="white-text" href="https://louis.hostux.fr/">Louis Guidez</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" src="{% static 'static_jquery/js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'materialize/js/materialize.js' %}"></script>
    <script src="{% static 'projectak/js/jquery.datetimepicker.full.js' %}"></script>
    <script src="{% static 'projectak/js/projectak.js' %}"></script>
    <script src="{% static 'materialize/js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        $.datetimepicker.setLocale('{{ LANGUAGE_CODE }}');
    </script>
    <script type="text/javascript" src="{% static 'projectak/js/form_initialize.js' %}"></script>
</body>
</html>
