{% extends "base.html" %}
{% load i18n %}

{% block brand_name %}
{% trans "Organization:" %}
{% if organization.name|default:None %}
{{ organization.name }}
{% else %}
{% trans "Organization" %}
{% endif %}
{% endblock brand_name %}

{% block breadcrumbs %}
<nav class="breadcrumbs row light-green darken-4">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'homepage' %}" class="breadcrumb">{% trans "Home" %}</a>
            <a href="{% url 'myorganization' %}" class="breadcrumb">
                {% if organization.name|default:None %}
                {% trans "Organization:" %}
                {{ organization.name }}
                {% else %}
                {% trans "My organization" %}
                {% endif %}
            </a>
            {% block organization_breadcrumbs %}
            {% endblock organization_breadcrumbs %}
        </div>
    </div>
</nav>
{% endblock breadcrumbs %}


{% block fab %}
<div class="fixed-action-btn horizontal{% block fab_opened %}{% endblock %}" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
    </a>
    <ul>
        <li><a href="{% url 'organization_messages_list' %}" data-position="top" data-delay="50" data-tooltip="{% trans "Messages" %}" class="btn-floating tooltipped red"><i class="material-icons">message</i></a></li>
        <li><a href="{% url 'organization_members_list' %}" data-position="top" data-delay="50" data-tooltip="{% trans "Members" %}" class="btn-floating tooltipped grey lighten-2"><i class="material-icons blue-text">people</i></a></li>
        <li><a href="{% url 'myorganization' %}" data-position="top" data-delay="50" data-tooltip="{% trans "Overview" %}" class="btn-floating tooltipped amber accent-4"><i class="material-icons">dashboard</i></a></li>
    </ul>
</div>
{% endblock %}
