{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
<nav class="breadcrumbs row light-green darken-4">
    <div class="nav-wrapper">
        <div class="col s12">
            <a href="{% url 'homepage' %}" class="breadcrumb">{% trans "Home" %}</a>
            <a href="{% url 'notifications_list' %}" class="breadcrumb">{% trans "Notifications" %}</a>
        </div>
    </div>
</nav>
{% endblock breadcrumbs %}

{% block body %}
<h1>{% trans "Notifications" %}</h1>

{% include "pagination/pagination.html" with paginated_list=notifications %}

<table class="striped bordered">
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Project concerned" %}</th>
        <th>{% trans "Message" %}</th>
    </tr>
    {% for notification in notifications %}
    <tr{% if notification in unread_notifications %} class="blue-grey lighten-4"{% endif %}>
        <td>
            {{ notification.date|date:"DATETIME_FORMAT" }}
        </td>
        <td>
            {% if notification.get_project %}
            <a href="{% url 'project_overview' project_pk=notification.get_project.pk %}">
            {% endif %}
                {{ notification.i_am_a_test }}
            {% if notification.get_project %}
            </a>
            {% endif %}
        </td>
        <td>
            {% if not notification.read %}<span class="bold">{% endif %}
            {{ notification.get_type_display }}
            {% if not notification.read %}</span>{% endif %}
            <br />
            {% if notification.get_object %}
            <a href="{{ notification.get_object_url }}">{{ notification.get_object_display }}</a>
            {% else %}
            <span class="italic">{{ notification.original_object_name }}</span>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

{% include "pagination/pagination.html" with paginated_list=notifications %}
{% endblock body %}
