{% load i18n %}

<span class="bold">
    {% trans name as trans_name %}
    {% blocktrans with name=trans_name %}
    {{ name }}:
    {% endblocktrans %}
</span>

{% if linebreaks %}
<br />
{% endif %}

{% if value|default:None %}
{% if linebreaks %}
{{ value|safe|linebreaksbr  }}
{% else %}
{{ value|safe }}
{% endif %}
{% else %}
<span class="italic">{% trans "No information" %}</span>
{% endif %}
