{% extends "organization_base.html" %}
{% load i18n %}

{% block organization_breadcrumbs %}
<a href="{% url 'myorganization_edit' %}" class="breadcrumb">{% trans "Edit" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {% if organization.name|default:None %}
    {{ organization.name }}
    {% else %}
    {% trans "My organization" %}
    {% endif %}

    <small>
        {% trans "Edit informations" %}
    </small>
</h1>

{% include "form/form.html" with form=form file_upload=True %}
{% endblock body %}
