{% extends "organization_base.html" %}
{% load i18n %}

{% block organization_breadcrumbs %}
<a href="{% url 'myorganization_history' %}" class="breadcrumb">{% trans "History" %}</a>
{% endblock organization_breadcrumbs %}

{% block body %}
<h1>
    {% if organization.name|default:None %}
    {{ organization.name }}
    {% else %}
    {% trans "My organization" %}
    {% endif %}

    <small>
        {% trans "History" %}
    </small>
</h1>

{% include "pagination/pagination.html" with paginated_list=entries %}
{% include "history/_table.html" with entries=entries %}
{% include "pagination/pagination.html" with paginated_list=entries %}
{% endblock body %}
