{% extends "organization_base.html" %}

{% load i18n organization_snippets static %}

{% block body %}

<div class="card-panel right" id="organization_picture">
    <img src="{% static organization.picture %}" alt="{% trans "Organization picture" %}">
    <p>
        {% info "Address" organization.address True %}<br />
        {% info "Email" organization.email %}<br />
        {% info_phone "Phone number" organization.phone %}<br />
        {% info "Fax" organization.fax %}<br />
        {% info_link "Website" organization.website %}<br />
    </p>
</div>


<h1>
    {{ organization.name }}
</h1>

<p>
    {% if user has "organization.change_organization" of organization %}
    <a class="btn normal" href="{% url 'myorganization_edit' %}">
        <i class="material-icons left">edit</i>{% trans "Edit informations" %}
    </a>
    {% endif %}
</p>


{{ organization.description|linebreaks }}


<div class="row">
    <div class="col s12 m8">
        <h3>
            {% trans "Recent messages" %}
            <a href="{% url 'organization_messages_list' %}" class="btn btn-floating green"><i class="material-icons left">list</i></a>
            <a href="{% url 'organization_messages_post' %}" class="btn btn-floating yellow darken-4" title="{% trans "Post a message" %}"><i class="material-icons left">message</i></a>
        </h3>

        <table class="striped">
            <thead>
                <tr>
                    <th><!-- Sticky --></th>
                    <th><!-- Attachment --></th>
                    <th>{% trans "Title" %}</th>
                    <th>{% trans "Author" %}</th>
                </tr>
            </thead>

            <tbody>
                {% for message in messages %}
                <tr>
                    <td>
                        {% if message.sticky %}
                        <i class="material-icons red-text">announcement</i>
                        {% endif %}
                    </td>
                    <td>
                        {% if message.attachment_set.all %}
                        <i class="material-icons grey-text text-darken-3">attachment</i>
                        {% endif %}
                    </td>
                    <td>
                        <a href="{% url "organization_messages_view" message_pk=message.pk %}">{{ message.title }}</a>
                    </td>
                    <td>
                        {% user_chip message.author %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col s12 m4">


        <h3>
            {% trans "Members" %}
            <a href="{% url 'organization_members_list' %}" class="btn btn-floating green"><i class="material-icons left">list</i></a>
        </h3>

        {% if user has "organization.manage_members_organization" of organization %}
        <p>
            <a href="{% url 'organization_members_add' %}" class="btn yellow darken-4"><i class="material-icons left">add</i> {% trans "Add" %}</a>
        </p>
        {% endif %}

        <p>
            {% for contact in organization.get_members %}
            <a href="{% url 'organization_members_view' member_pk=contact.pk %}">{% user_chip contact %}</a>
            {% empty %}
            <span class="italic">{% trans "No members." %}</span>
            {% endfor %}
        </p>
    </div>
</div>

<h3>
    {% trans "Recent activity" %}
    <a href="{% url 'myorganization_history' %}" class="btn-floating waves-effect waves-light light-blue"><i class="material-icons">list</i></a>
</h3>

{% include "history/_table.html" with entries=organization.history_set.all|slice:":10" %}
{% endblock body %}


{% block fab_opened %}
 fab-opened
{% endblock fab_opened %}
