{% load i18n %}

<p>
    {% if user has "project.change_tasklist" of task_list %}
    <a class="btn" href="{% url 'project_task_lists_edit' project_pk=project.pk task_list_pk=task_list.pk %}">
        <i class="material-icons left">edit</i>{% trans "Edit" %}
    </a>
    {% endif %}

    {% if user has "project.delete_tasklist" of task_list %}
    <a class="btn red" href="{% url 'project_task_lists_delete' project_pk=project.pk task_list_pk=task_list.pk %}">
        <i class="material-icons left">delete</i>{% trans "Delete" %}
    </a>
    {% endif %}

    <a class="btn" href="{% url 'project_task_lists_copy' project_pk=project.pk task_list_pk=task_list.pk %}">
        {% trans "Copy" %}
    </a>

    {% if user has "project.move_tasklist" of task_list %}
    <a class="btn" href="{% url 'project_task_lists_move' project_pk=project.pk task_list_pk=task_list.pk %}">
        {% trans "Move" %}
    </a>
    {% endif %}
</p>
