{% load i18n organization_snippets %}

{% for task in tasks %}
<div class="card {% if not task.closed %}blue-grey{% else %}green darken-3{% endif %} white-text" id="task_{{ task.pk }}">
    <div class="card-content">
        {% if user has "project.view_members_task" of task %}
        <span class="right">
        {% for member in task.members.all %}
        {% user_chip member %}
        {% endfor %}
        </span>
        {% endif %}

        <p class="card-title">
            {% if user has "project.close_task" of task %}
            {% if not task.closed %}
            <a class="light-green-text text-lighten-1" href="{% if task_list_view %}{% url 'project_tasks_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% else %}{% url 'project_tasks_quick_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% endif %}">
                <i class="material-icons vam">check_box_outline_blank</i>
            </a>
            {% else %}
            <a class="white-text" href="{% if task_list_view %}{% url 'project_tasks_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% else %}{% url 'project_tasks_quick_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% endif %}">
                <i class="material-icons vam">check_box</i></a>
            </a>
            {% endif %}
            {% endif %}

            {{ task.name }}

            {% if task.due_date %}
            <span class="normal italic">
                {{ task.due_date|date:"DATE_FORMAT" }}

                {% if not task.closed %}
                {% if not task.getLate %}
                {% blocktrans with daysLeft=task.getDaysDiffFromToday %}
                ({{ daysLeft }} days left)
                {% endblocktrans %}
                {% else %}
                {% blocktrans with daysLeft=task.getDaysDiffFromToday %}
                ({{ daysLeft }} days late)
                {% endblocktrans %}
                {% endif %}
                {% else %}
                {% blocktrans with closed_date=task.closed_date|date:"DATE_FORMAT" %}
                (Closed on {{ closed_date }})
                {% endblocktrans %}
                {% endif %}
            </span>
            {% endif %}
        </p>

        {{ task.description|linebreaks }}
    </div>

    {% if user has "project.change_task" of task or user has "project.delete_task" of task %}
    <div class="card-action">
        {% if user has "project.change_task" of task %}
        <a href="{% url 'project_tasks_edit' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}">{% trans "Edit" %}</a>
        {% endif %}
        {% if user has "project.delete_task" of task %}
        <a class="red-text text-darken-3" href="{% url 'project_tasks_delete' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}">{% trans "Delete" %}</a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% empty %}
{% trans "No tasks." %}
{% endfor %}
