{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
{% if milestone %}
<a href="{% url 'project_milestones_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Milestones" %}</a>
<a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=milestone.pk %}" class="breadcrumb">{{ milestone.name }}</a>
{% else %}
<a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Task lists" %}</a>
{% endif %}
<a href="{% url 'project_task_lists_add' project_pk=project.pk %}" class="breadcrumb">{% trans "Add a task list" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {% trans "Add a task list" %}

    <small>
        {% if milestone %}
        {% blocktrans with milestone_name=milestone.name project_name=project.name %}
        On {{ milestone_name }} of {{ project_name }}
        {% endblocktrans %}
        {% else %}
        {{ project.name }}
        {% endif %}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}