{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Task lists" %}</a>
<a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{{ task_list.name }}</a>
<a href="{% url 'project_task_lists_edit' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{% trans "Delete" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ task_list.name }}

    <small>
        {% trans "Delete" %}
    </small>
</h1>

<p>
    {% blocktrans with task_list=task_list.name %}
    Are you sure you want to delete the task list "{{ task_list }}" ?
    {% endblocktrans %}
</p>

{% include "form/form.html" with submit_color='red' %}
{% endblock body %}