{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Task lists" %}</a>
<a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{{ task_list.name }}</a>
<a href="{% url 'project_task_lists_history' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{% trans "History" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ task_list.name }}

    <small>
        {% trans "History" %}
    </small>
</h1>

{% include "pagination/pagination.html" with paginated_list=entries %}
{% include "history/_table.html" with entries=entries %}
{% include "pagination/pagination.html" with paginated_list=entries %}
{% endblock body %}
