{% extends "project_base.html" %}
{% load i18n organization_snippets %}

{% block project_breadcrumbs %}
<a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Task lists" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>{% trans "Task lists" %}</h1>

<div class="row">
    <div class="col m9">
        {% if user has "project.add_task_list_project" of project %}
        <p>
            <a href="{% url 'project_task_lists_add' project_pk=project.pk %}" class="btn amber accent-4"><i class="material-icons left">add</i> {% trans "Add" %}</a>
        </p>
        {% endif %}
        {% for task_list in project.getOpenTaskLists %}
        <div id="tasklist_{{ task_list.pk }}" class="section">
            <h4>
                <a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task_list.pk %}">{{ task_list.name }}</a>

                <span class="normal chip orange">
                    {% trans "Open" %}
                </span>

                {% if task_list.milestone %}
                <span class="normal chip">
                    <a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=task_list.milestone.pk %}"><i class="left material-icons">flag</i> {{ task_list.milestone.name }}</a>
                </span>
                {% endif %}

                {% if task_list.due_date %}
                <span class="normal chip">
                    {{ task_list.due_date|date:"DATE_FORMAT" }}

                    {% if not task_list.getLate %}
                    {% blocktrans with daysLeft=task_list.getDaysDiffFromToday %}
                    ({{ daysLeft }} days left)
                    {% endblocktrans %}
                    {% else %}
                    {% blocktrans with daysLeft=task_list.getDaysDiffFromToday %}
                    ({{ daysLeft }} days late)
                    {% endblocktrans %}
                    {% endif %}
                </span>
                {% endif %}
            </h4>

            {{ task_list.description|linebreaks }}

            {% for task in task_list.getTasks %}
            <div id="task_{{ task.pk }}" class="card {% if not task.closed %}blue-grey{% else %}green darken-3{% endif %} white-text">
                <div class="card-content">
                    {% if user has "project.view_members_task" of task %}
                    <span class="right">
                    {% for member in task.members.all %}
                    {% user_chip member %}
                    {% endfor %}
                    </span>
                    {% endif %}

                    <p>
                        {% if user has "project.close_task" of task %}
                        {% if not task.closed %}
                        <a class="light-green-text text-lighten-1" href="{% if task_list_view %}{% url 'project_tasks_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% else %}{% url 'project_tasks_quick_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% endif %}">
                            <i class="material-icons vam">check_box_outline_blank</i>
                        </a>
                        {% else %}
                        <a class="white-text" href="{% if task_list_view %}{% url 'project_tasks_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% else %}{% url 'project_tasks_quick_check' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}{% endif %}">
                            <i class="material-icons vam">check_box</i></a>
                        </a>
                        {% endif %}
                        {% endif %}

                        <span class="card-title {% if user has "project.change_task" of task or user has "project.delete_task" of task %}activator{% endif %}">{{ task.name }}</span>

                        {% if task.due_date %}
                        <span class="normal italic">
                            {{ task.due_date|date:"DATE_FORMAT" }}

                            {% if not task.closed %}
                            {% if not task.getLate %}
                            {% blocktrans with daysLeft=task.getDaysDiffFromToday %}
                            ({{ daysLeft }} days left)
                            {% endblocktrans %}
                            {% else %}
                            {% blocktrans with daysLeft=task.getDaysDiffFromToday %}
                            ({{ daysLeft }} days late)
                            {% endblocktrans %}
                            {% endif %}
                            {% else %}
                            {% blocktrans with closed_date=task.closed_date|date:"DATE_FORMAT" %}
                            (Closed on {{ closed_date }})
                            {% endblocktrans %}
                            {% endif %}
                        </span>
                        {% endif %}
                    </p>

                    {% if user has "project.change_task" of task or user has "project.delete_task" of task %}
                    <div class="activator">
                    {% endif %}
                        {{ task.description|linebreaks }}
                    {% if user has "project.change_task" of task or user has "project.delete_task" of task %}
                    </div>
                    {% endif %}
                </div>

                {% if user has "project.change_task" of task or user has "project.delete_task" of task %}
                <div class="card-reveal card-actions {% if not task.closed %}blue-grey{% else %}green darken-3{% endif %} white-text">
                    <p>
                        <span class="card-title">{{ task.name }}</span>
                    </p>

                    <p>
                        {% if user has "project.change_task" of task %}
                        <a class="btn" href="{% url 'project_tasks_edit' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}">{% trans "Edit" %}</a>
                        {% endif %}
                        {% if user has "project.delete_task" of task %}
                        <a class="btn red-text text-darken-3" href="{% url 'project_tasks_delete' project_pk=project.pk task_list_pk=task_list.pk task_pk=task.pk %}">{% trans "Delete" %}</a>
                        {% endif %}
                    </p>
                </div>
                {% endif %}
            </div>
            {% empty %}
            {% trans "No tasks." %}
            {% endfor %}
        </div>
        <div class="divider"></div>
        {% empty %}
        {% trans "No task list." %}
        {% endfor %}
    </div>

    <div class="col m3">
        <h4>{% trans "Completed" %}</h4>
        {% for task_list in project.getCompletedTaskLists %}

        <p class="section">
            <a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task_list.pk %}">{{ task_list.name }}</a><br />
            <span class="italic">
                {% blocktrans with closed_date=task_list.closed_date|date:"DATE_FORMAT" %}
                Closed on {{ closed_date }}
                {% endblocktrans %}
            </span>
        </p>
        {% empty %}
        {% trans "No task list." %}
        {% endfor %}
    </div>
</div>
{% endblock body %}
