{% extends "project_base.html" %}
{% load i18n %}

{% block project_breadcrumbs %}
<a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Task lists" %}</a>
<a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{{ task_list.name }}</a>
<a href="{% url 'project_task_lists_move' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{% trans "Move" %}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<h1>
    {{ task_list.name }}

    <small>
        {% trans "Move task list" %}
    </small>
</h1>

{% include "form/form.html" with form=form %}
{% endblock body %}
