{% extends "project_base.html" %}
{% load i18n project_snippets %}

{% block project_breadcrumbs %}
<a href="{% url 'project_task_lists_list' project_pk=project.pk %}" class="breadcrumb">{% trans "Task lists" %}</a>
<a href="{% url 'project_task_lists_view' project_pk=project.pk task_list_pk=task_list.pk %}" class="breadcrumb">{{ task_list.name }}</a>
{% endblock project_breadcrumbs %}

{% block body %}
<div class="card-panel right">
    {% progress task_list %}
</div>

<h1>
    {{ task_list.name }}

    <small>
        {% trans "Task list" %}

        <span class="chip {% if task_list.closed %}light-green{% else %}orange{% endif %}">
            {% if task_list.closed %}
            {% blocktrans with closed_date=task_list.closed_date|date:"DATE_FORMAT" %}
            Completed on {{ closed_date }}
            {% endblocktrans %}
            {% else %}
            {% trans "Open" %}
            {% endif %}
        </span>

        {% if task_list.milestone %}
        <span class="chip">
            <a href="{% url 'project_milestones_view' project_pk=project.pk milestone_pk=task_list.milestone.pk %}"><i class="left material-icons">flag</i> {{ task_list.milestone.name }}</a>
        </span>
        {% endif %}

        {% if task_list.due_date %}
        <span class="chip">
            {{ task_list.due_date|date:"DATE_FORMAT" }}

            {% if not task_list.closed %}
            {% if not task_list.getLate %}
            {% blocktrans with daysLeft=task_list.getDaysDiffFromToday %}
            ({{ daysLeft }} days left)
            {% endblocktrans %}
            {% else %}
            {% blocktrans with daysLeft=task_list.getDaysDiffFromToday %}
            ({{ daysLeft }} days late)
            {% endblocktrans %}
            {% endif %}
            {% endif %}
        </span>
        {% endif %}
    </small>
</h1>

{{ task_list.description|linebreaks }}

{% include "project/task_lists/_task_list_actions.html" %}

{% if user has "project.add_task_project" of project %}
<p>
    <a href="{% url 'project_tasks_add' project_pk=project.pk task_list_pk=task_list.pk %}" class="btn waves-effect waves-light yellow darken-4"><i class="material-icons left">add</i> {% trans "Add a task" %}</a>
</p>
{% endif %}

{% include "project/task_lists/_task_list_tasks.html" with tasks=task_list.getOpenTasks task_list_view=True %}

{% include "project/task_lists/_task_list_tasks.html" with tasks=task_list.getCompletedTasks task_list_view=True %}

<h4>
    {% trans "Recent activity" %}
    <a href="{% url 'project_task_lists_history' project_pk=project.pk task_list_pk=task_list.pk %}" class="btn-floating waves-effect waves-light light-blue"><i class="material-icons">list</i></a>
</h4>

{% include "history/_table.html" with entries=task_list.history_set.all|slice:":10" %}
{% endblock body %}
